@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@layer base {

/* Active NavLink Styling */
nav .active {
  background: linear-gradient(to right, #9333ea, #db2777);
  color: white !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav a:hover {
  background: linear-gradient(to right, #9c52e1, #e14d8f);
  color: white !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
/* Custom CSS for scrollbar */
 
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

body {
  overflow-y: scroll; 
}  


}